@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Tajawal:wght@400;500;700&display=swap');

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Tajawal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111827; /* slate-900 */
  color: #e5e7eb; /* gray-200 */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Almarai', sans-serif;
}

